<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htdp1.emp.empspring.employee.repository.EmployeeMapper">
    <select id="findById" resultType="com.htdp1.emp.empspring.employee.model.Employee">
        select emp_no, birth_date, first_name, last_name, gender, hire_date from employees where emp_no = #{empNo}
    </select>
    <insert id="insert" parameterType="com.htdp1.emp.empspring.employee.model.Employee">
        insert into employees (emp_no, birth_date, first_name, last_name, gender, hire_date)
        values (#{empNo}, #{birthDate}, #{firstName}, #{lastName}, #{gender}, #{hireDate})
    </insert>
</mapper>